html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body {
	text-align: center;
	height:100%;
	margin:0;
	padding:0;
	background-color:#7ea6a9;
}

div#main {
	width: 900px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
}

div#background {
	background-color:#f0f0f0;
	width: 900px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: fixed;
	z-index: 1;
}

div#content {
	width: 868px;
	margin: 16px;
	margin-bottom: 0;
	text-align: left;
	padding: 0;
	padding-bottom: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

div#footer {
	width: 900px;
	height: 1.5em;
	line-height: 1.5em;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	z-index: 3;
	background: #74b16c;
	text-align: center;
}

/* unvisited link */
a:link {
	color: #0033aa;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #0033aa;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #0033aa;
	text-decoration: underline;
}

/* selected link */
a:active {
	color: #3366cc;
	text-decoration: underline;
}

/* Fix for Internet Explorer */
a > img{
	border: 0;
}
